# Machine Learning Regression Project - Bangladesh House Price Prediction

##### Dataset can be found here - https://www.kaggle.com/datasets/ijajdatanerd/property-listing-data-in-bangladesh

#### Importing Libraries

In [118]:
# Importing libraries

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

### Loading Data

In [119]:
# Reading data
df1 = pd.read_csv("properties.csv")
df1.head()

,title,beds,bath,area,adress,type,purpose,flooPlan,url,lastUpdated,price
0,Eminent Apartment Of 2200 Sq Ft Is Vacant For ...,3,4,"2,200 sqft","Block A, Bashundhara R-A, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/10...,https://www.bproperty.com/en/property/details-...,"August 13, 2022",50 Thousand
1,"Apartment Ready To Rent In South Khulshi, Near...",3,4,"1,400 sqft","South Khulshi, Khulshi, Chattogram",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/44...,https://www.bproperty.com/en/property/details-...,"January 25, 2022",30 Thousand
2,"Smartly priced 1950 SQ FT apartment, that you ...",3,4,"1,950 sqft","Block F, Bashundhara R-A, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/11...,https://www.bproperty.com/en/property/details-...,"February 22, 2023",30 Thousand
3,2000 Sq Ft Residential Apartment Is Up For Ren...,3,3,"2,000 sqft","Sector 9, Uttara, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/14...,https://www.bproperty.com/en/property/details-...,"October 28, 2021",35 Thousand
4,Strongly Structured This 1650 Sq. ft Apartment...,3,4,"1,650 sqft","Block I, Bashundhara R-A, Dhaka",Apartment,For Rent,https://images-cdn.bproperty.com/thumbnails/10...,https://www.bproperty.com/en/property/details-...,"February 19, 2023",25 Thousand

In [120]:
# Looking for columns I'm interested in to prepare them for cleaning (Beds, Bath, Area, Adress, Purpose, Price)
df1.columns

Index(['title', 'beds', 'bath', 'area', 'adress', 'type', 'purpose',
       'flooPlan', 'url', 'lastUpdated', 'price'],
      dtype='object')

In [121]:
# Dropping columns I'm not interested in (Title, Type, Purpose, FlooPlan, URL, LastUpdated)
df2 = df1.drop(["title", "type", "purpose", "flooPlan", "url", "lastUpdated"], axis="columns")
df2.head()

  beds bath        area                              adress        price
0   3    4   2,200 sqft     Block A, Bashundhara R-A, Dhaka  50 Thousand
1   3    4   1,400 sqft  South Khulshi, Khulshi, Chattogram  30 Thousand
2   3    4   1,950 sqft     Block F, Bashundhara R-A, Dhaka  30 Thousand
3   3    3   2,000 sqft             Sector 9, Uttara, Dhaka  35 Thousand
4   3    4   1,650 sqft     Block I, Bashundhara R-A, Dhaka  25 Thousand

### Data Cleaning

##### Handling Null Values

In [122]:
# Checking for null values
df2.isnull().sum()

beds      0
bath      0
area      0
adress    0
price     0
dtype: int64

##### Handling Unique Values

###### Finding Unique Values

In [123]:
# Checking that data in each column are all uniform in their presentation (Bed - Not uniform - Some are Integers, some are strings)
df2["beds"].unique()

array(['3 ', '5 ', '4 ', '1 Bed', '2 ', '17 ', '6 ', '21 ', '7 ', '20 ',
       '32 ', '22 ', '36 '], dtype=object)

In [124]:
# Checking that data in each column are all uniform in their presentation (Bath - Not uniform - Some are Integers, some are strings)
df2["bath"].unique()

array(['4 ', '3 ', '5 ', '2 ', '1 Bath', '6 ', '10 ', '8 ', '7 '],
      dtype=object)

In [125]:
# Checking that data in each column are all uniform in their presentation (Area - Uniform)
df2["area"].unique()

array(['2,200 sqft', '1,400 sqft', '1,950 sqft', '2,000 sqft',
       '1,650 sqft', '3,400 sqft', '1,600 sqft', '1,250 sqft',
       '2,150 sqft', '1,580 sqft', '3,200 sqft', '3,000 sqft',
       '1,800 sqft', '1,750 sqft', '1,310 sqft', '1,700 sqft',
       '2,750 sqft', '2,500 sqft', '550 sqft', '1,050 sqft', '1,350 sqft',
       '3,590 sqft', '400 sqft', '2,400 sqft', '500 sqft', '2,300 sqft',
       '4,350 sqft', '1,200 sqft', '800 sqft', '2,146 sqft', '1,315 sqft',
       '1,500 sqft', '700 sqft', '600 sqft', '960 sqft', '4,200 sqft',
       '2,250 sqft', '1,517 sqft', '6,300 sqft', '1,407 sqft',
       '1,850 sqft', '1,150 sqft', '900 sqft', '1,975 sqft', '1,300 sqft',
       '1,450 sqft', '950 sqft', '1,100 sqft', '2,600 sqft', '750 sqft',
       '2,115 sqft', '3,600 sqft', '3,150 sqft', '2,100 sqft',
       '1,319 sqft', '1,676 sqft', '1,825 sqft', '2,977 sqft', '350 sqft',
       '1,550 sqft', '450 sqft', '1,190 sqft', '2,230 sqft', '2,280 sqft',
       '2,197 sqft', '1,393 sqft', '1,260 sqft', '650 sqft', '1,075 sqft',
       '9,000 sqft', '1,365 sqft', '1,165 sqft', '1,240 sqft',
       '1,630 sqft', '1,806 sqft', '1,360 sqft', '2,170 sqft',
       '1,370 sqft', '2,560 sqft', '1,615 sqft', '3,350 sqft',
       '1,375 sqft', '3,500 sqft', '4,000 sqft', '1,807 sqft',
       '1,288 sqft', '1,472 sqft', '2,595 sqft', '1,000 sqft',
       '2,153 sqft', '1,910 sqft', '2,960 sqft', '720 sqft', '4,400 sqft',
       '1,280 sqft', '2,350 sqft', '1,880 sqft', '3,800 sqft',
       '1,935 sqft', '3,187 sqft', '1,520 sqft', '920 sqft', '1,911 sqft',
       '1,532 sqft', '1,395 sqft', '2,450 sqft', '1,330 sqft',
       '2,145 sqft', '8,000 sqft', '4,500 sqft', '1,560 sqft',
       '1,599 sqft', '1,793 sqft', '3,300 sqft', '2,550 sqft',
       '1,665 sqft', '16,100 sqft', '1,960 sqft', '1,495 sqft',
       '2,210 sqft', '2,700 sqft', '2,800 sqft', '2,780 sqft',
       '2,080 sqft', '850 sqft', '1,780 sqft', '725 sqft', '1,570 sqft',
       '420 sqft', '1,980 sqft', '3,120 sqft', '910 sqft', '300 sqft',
       '994 sqft', '2,373 sqft', '1,265 sqft', '1,865 sqft', '2,225 sqft',
       '1,685 sqft', '1,171 sqft', '5,400 sqft', '1,722 sqft',
       '4,465 sqft', '1,420 sqft', '1,680 sqft', '2,642 sqft',
       '21,000 sqft', '1,876 sqft', '1,340 sqft', '1,233 sqft',
       '1,160 sqft', '3,100 sqft', '2,630 sqft', '6,000 sqft', '730 sqft',
       '1,660 sqft', '1,452 sqft', '1,275 sqft', '1,654 sqft',
       '1,460 sqft', '1,041 sqft', '2,260 sqft', '1,230 sqft',
       '1,114 sqft', '2,092 sqft', '2,015 sqft', '2,022 sqft',
       '2,318 sqft', '1,175 sqft', '1,864 sqft', '1,035 sqft',
       '1,620 sqft', '1,921 sqft', '2,650 sqft', '3,680 sqft',
       '1,860 sqft', '2,435 sqft', '14,000 sqft', '5,000 sqft',
       '1,180 sqft', '1,270 sqft', '3,850 sqft', '1,430 sqft',
       '1,254 sqft', '1,510 sqft', '2,900 sqft', '1,705 sqft',
       '1,426 sqft', '2,465 sqft', '1,425 sqft', '1,485 sqft',
       '2,530 sqft', '2,165 sqft', '4,700 sqft', '1,129 sqft', '820 sqft',
       '1,558 sqft', '6,500 sqft', '1,060 sqft', '930 sqft', '3,302 sqft',
       '7,000 sqft', '1,605 sqft', '2,142 sqft', '3,305 sqft',
       '1,734 sqft', '2,950 sqft', '1,900 sqft', '1,020 sqft',
       '1,512 sqft', '1,785 sqft', '5,200 sqft', '1,338 sqft',
       '1,905 sqft', '1,205 sqft', '1,470 sqft', '1,442 sqft',
       '2,760 sqft', '2,632 sqft', '1,873 sqft', '2,850 sqft',
       '1,285 sqft', '3,765 sqft', '3,700 sqft', '892 sqft', '1,622 sqft',
       '1,540 sqft', '11,200 sqft', '1,080 sqft', '1,985 sqft',
       '1,465 sqft', '2,088 sqft', '1,312 sqft', '770 sqft', '1,130 sqft',
       '1,429 sqft', '2,510 sqft', '1,112 sqft', '1,244 sqft',
       '1,380 sqft', '2,040 sqft', '1,325 sqft', '4,100 sqft', '760 sqft',
       '2,296 sqft', '1,710 sqft', '1,085 sqft', '1,045 sqft',
       '1,070 sqft', '680 sqft', '1,513 sqft', '2,575 sqft', '780 sqft',
       '742 sqft', '1,555 sqft', '1,185 sqft', '2,619 sqft', '1,480 sqft',
       '768 sqft', '1,440 sqft', '1,140 sqft', '1,566 sqft', '2,090 sqft',
       '1,255 sqft', '735 sqft', '1,170 sqft', '1,155 sqft', '1,575 sqft',
       '1,302 sqft', '1,225 sqft', '1,328 sqft', '1,345 sqft',
       '1,320 sqft', '1,210 sqft', '1,025 sqft', '1,120 sqft', '740 sqft',
       '1,383 sqft', '744 sqft', '1,145 sqft', '1,113 sqft', '1,133 sqft',
       '1,231 sqft', '1,577 sqft', '2,270 sqft', '1,012 sqft',
       '1,156 sqft', '7,500 sqft', '1,386 sqft', '1,525 sqft',
       '1,271 sqft', '2,508 sqft', '1,040 sqft', '1,530 sqft',
       '1,110 sqft', '1,610 sqft', '2,585 sqft', '845 sqft', '1,505 sqft',
       '1,154 sqft', '970 sqft', '626 sqft', '765 sqft', '855 sqft',
       '1,810 sqft', '1,065 sqft', '1,125 sqft', '1,645 sqft', '840 sqft',
       '775 sqft', '1,030 sqft', '1,015 sqft', '1,253 sqft', '1,286 sqft',
       '1,431 sqft', '18,000 sqft', '1,215 sqft', '2,275 sqft',
       '1,322 sqft', '1,297 sqft', '1,117 sqft', '1,221 sqft',
       '1,220 sqft', '1,952 sqft', '1,172 sqft', '1,625 sqft',
       '1,435 sqft', '1,775 sqft', '3,675 sqft', '965 sqft', '1,055 sqft',
       '520 sqft', '1,758 sqft', '1,943 sqft', '1,311 sqft', '1,720 sqft',
       '4,800 sqft', '1,335 sqft', '2,470 sqft', '1,770 sqft',
       '3,554 sqft', '1,104 sqft', '1,827 sqft', '1,323 sqft',
       '1,235 sqft', '1,820 sqft', '1,553 sqft', '1,640 sqft',
       '2,160 sqft', '752 sqft', '1,930 sqft', '620 sqft', '1,346 sqft',
       '1,475 sqft', '1,706 sqft', '1,875 sqft', '2,148 sqft',
       '1,331 sqft', '2,190 sqft', '4,099 sqft', '1,754 sqft',
       '1,153 sqft', '880 sqft', '1,963 sqft', '3,720 sqft',
       '10,000 sqft', '2,159 sqft', '1,010 sqft', '1,124 sqft',
       '1,675 sqft', '1,390 sqft', '1,224 sqft', '1,925 sqft', '990 sqft',
       '1,195 sqft', '1,187 sqft', '6,200 sqft', '1,166 sqft',
       '1,304 sqft', '3,721 sqft', '1,732 sqft', '873 sqft', '823 sqft',
       '1,523 sqft', '1,772 sqft', '940 sqft', '5,500 sqft', '1,216 sqft',
       '2,345 sqft', '1,059 sqft', '860 sqft', '786 sqft', '824 sqft',
       '715 sqft', '1,627 sqft', '2,540 sqft', '1,266 sqft', '2,775 sqft',
       '1,115 sqft', '1,515 sqft', '670 sqft', '710 sqft', '2,360 sqft',
       '755 sqft', '1,521 sqft', '1,756 sqft', '1,213 sqft', '975 sqft',
       '1,616 sqft', '1,578 sqft', '19,360 sqft', '2,667 sqft',
       '1,695 sqft', '3,750 sqft', '935 sqft', '3,003 sqft', '1,458 sqft',
       '1,347 sqft', '1,308 sqft', '3,050 sqft', '1,686 sqft',
       '3,900 sqft', '1,535 sqft', '1,740 sqft', '630 sqft', '560 sqft',
       '1,556 sqft', '745 sqft', '785 sqft', '6,600 sqft', '1,352 sqft',
       '375 sqft', '1,541 sqft', '1,290 sqft', '2,238 sqft', '1,565 sqft',
       '1,409 sqft', '1,677 sqft', '751 sqft', '1,301 sqft', '3,443 sqft',
       '4,550 sqft', '1,486 sqft', '2,839 sqft', '3,584 sqft',
       '1,336 sqft', '31,500 sqft', '3,515 sqft', '2,004 sqft',
       '1,762 sqft', '2,730 sqft', '2,050 sqft', '2,284 sqft',
       '15,000 sqft', '1,990 sqft', '1,368 sqft', '3,220 sqft',
       '2,070 sqft', '885 sqft', '6,400 sqft', '2,325 sqft', '2,195 sqft',
       '1,552 sqft', '1,790 sqft', '1,808 sqft', '2,703 sqft',
       '2,555 sqft', '12,000 sqft', '830 sqft', '1,436 sqft',
       '2,365 sqft', '2,485 sqft', '3,015 sqft', '1,932 sqft',
       '1,984 sqft', '1,449 sqft', '1,355 sqft', '1,888 sqft'],
      dtype=object)

In [126]:
# Checking that data in each column are all uniform in their presentation (Adress - Uniform)
df2["adress"].unique()

array(['Block A, Bashundhara R-A, Dhaka',
       'South Khulshi, Khulshi, Chattogram',
       'Block F, Bashundhara R-A, Dhaka', 'Sector 9, Uttara, Dhaka',
       'Block I, Bashundhara R-A, Dhaka', 'Gulshan 1, Gulshan, Dhaka',
       'Sector 6, Uttara, Dhaka', 'Block K, Bashundhara R-A, Dhaka',
       'Sector 10, Uttara, Dhaka', 'Bayazid, Chattogram',
       'Gulshan 2, Gulshan, Dhaka', 'Sector 12, Uttara, Dhaka',
       'Block D, Bashundhara R-A, Dhaka',
       'Block C, Bashundhara R-A, Dhaka',
       'Ward 23, Chowdhuripara, Khilgaon, Dhaka',
       'Sector 3, Uttara, Dhaka', 'Banani, Dhaka', 'Dhanmondi, Dhaka',
       'Block J, Baridhara, Dhaka', 'West Shewrapara, Mirpur, Dhaka',
       'Block D, Mohanagar Housing, West Rampura, Rampura, Dhaka',
       'Zakir Hossain Housing Society, South Khulshi, Khulshi, Chattogram',
       'Banani DOHS, Dhaka', 'Block J, Bashundhara R-A, Dhaka',
       'Khilkhet, Dhaka', 'Block C, Dhaka Uddan, Mohammadpur, Dhaka',
       'Mohammadi Housing LTD., Mohammadpur, Dhaka',
       'Block D, Section 2, Mirpur, Dhaka', 'Sector 13, Uttara, Dhaka',
       'Khulshi Hill R/A, North Khulshi, Khulshi, Chattogram',
       'Kalabagan, Dhaka',
       'Mohammadia Housing Society, Mohammadpur, Dhaka', 'Kafrul, Dhaka',
       'Mohakhali DOHS, Dhaka', '10 No. North Kattali Ward, Chattogram',
       'Sector 4, Uttara, Dhaka', 'Mohammadpur, Dhaka',
       'Kaderabad Housing Society, Katashur, Mohammadpur, Dhaka',
       'Kamarpara, Turag, Dhaka',
       'Block C, Bochila City Developers Ltd, Bochila, Mohammadpur, Dhaka',
       'Khulshi, Chattogram', 'Eastern Pallabi, Pallabi, Mirpur, Dhaka',
       'Colonel Jones Road, Colonel Hat, 10 No. North Kattali Ward, Chattogram',
       'Block A, Chandrima Model Town, Mohammadpur, Dhaka',
       'Nasirabad Properties Residential Area, Khulshi, Chattogram',
       'Block K, Baridhara, Dhaka', 'Katashur, Mohammadpur, Dhaka',
       'Merul Badda, Badda, Dhaka',
       'PC Culture Housing, Mohammadpur, Dhaka',
       'Section 2, Mirpur, Dhaka', 'Shantinagar, Dhaka',
       'Pirerbag, Mirpur, Dhaka', 'Naya Paltan, Motijheel, Dhaka',
       'Block C, Kaderabad Housing Society, Bosila, Mohammadpur, Dhaka',
       'East Kazipara, Mirpur, Dhaka',
       'VIP Housing Society, South Khulshi, Khulshi, Chattogram',
       'Paharika Residential Area, South Khulshi, Khulshi, Chattogram',
       'Block A, Section 11, Mirpur, Dhaka',
       'Road No 2, Sector 13, Uttara, Dhaka',
       'Boro Maghbazar, Maghbazar, Dhaka', 'Maghbazar, Dhaka',
       'Shukrabad, Dhanmondi, Dhaka', 'Sector 11, Uttara, Dhaka',
       'Baridhara, Dhaka',
       'Al-Falah Housing Society, East Nasirabad, Chattogram',
       'Cantonment, Dhaka', 'South Badda, Badda, Dhaka',
       'Naya Nagar, Khilkhet, Dhaka', 'Tajmahal Road, Mohammadpur, Dhaka',
       'Paikpara, Ahmed Nagar, Mirpur, Dhaka',
       'Sector 2, Block E, Aftab Nagar, Dhaka',
       'Faydabad, Dakshin Khan, Dhaka',
       'Block A, Section 12, Mirpur, Dhaka',
       'West Rampura, Rampura, Dhaka', 'Block G, Bashundhara R-A, Dhaka',
       'Hazaribag, Dhaka', 'Avenue 6, Mirpur DOHS, Mirpur, Dhaka',
       'Kazir Dewri, Chattogram', 'Sector 5, Uttara, Dhaka',
       'Road No 17, Sector 7, Uttara, Dhaka',
       'Block C, Section 2, Mirpur, Dhaka',
       'Jalalabad Housing Society, West Khulshi, 9 No. North Pahartali Ward, Chattogram',
       'East Ahmed Nagar, Ahmed Nagar, Mirpur, Dhaka',
       'Bashundhara R-A, Dhaka', 'Block B, Section 13, Mirpur, Dhaka',
       'Block A, Section 10, Mirpur, Dhaka', 'Shiddheswari, Dhaka',
       'Block B, Section 12, Mirpur, Dhaka', 'Sector 7, Uttara, Dhaka',
       'Mirpur, Dhaka', 'Section 13, Mirpur, Dhaka',
       'Shantibag, Malibagh, Dhaka', 'Block H, Bashundhara R-A, Dhaka',
       'Talertek, Khilkhet, Dhaka',
       'Rose Valley Residential Area, 9 No. North Pahartali Ward, Chattogram',
       'Pallabi Extension, Pallabi, Mirpur, Dhaka',
       'Madhya Ajampur, Dakshin Khan, Dhaka',
       'Block C, Section 6, Mirpur, Dhaka',
       'Baitul Aman Housing Society, Adabor, Dhaka',
       'South Banasree Project, Banasree, Dhaka', 'New Market, Dhaka',
       'Section 1, Mirpur, Dhaka', 'Ibrahimpur, Dhaka',
       'Block C, Section 10, Mirpur, Dhaka',
       'Shayesta Khan Ave, Sector 4, Uttara, Dhaka',
       'Baridhara DOHS, Dhaka', 'Hatirpool, Dhaka',
       'West Kazipara, Mirpur, Dhaka',
       'Janata Housing Society, Adabor, Dhaka', 'Bangshal, Dhaka',
       'Block J, Banasree, Dhaka', 'Lalbagh Road, Lalbagh, Dhaka',
       'Block B, Section 11, Mirpur, Dhaka',
       'East Merul Badda, Merul Badda, Badda, Dhaka',
       'Sholokbahar, Chattogram', 'Block J, Section 3, Mirpur, Dhaka',
       'Block G, Banasree, Dhaka', 'Block D, Section 11, Mirpur, Dhaka',
       'Mirpur DOHS, Mirpur, Dhaka',
       'Mousumi Residential Area, 12 No. Sarai Para Ward, Double Mooring, Chattogram',
       'South Monipur, Mirpur, Dhaka',
       'Avenue 3, Mirpur DOHS, Mirpur, Dhaka',
       'Block C, Mansurabad Housing Society, Adabor, Dhaka',
       'Block B, Bashundhara R-A, Dhaka',
       'Block A, Sat Masjid Housing, Mohammadpur, Dhaka',
       'Abdur Rafique Housing Society, Shekhertek, Mohammadpur, Dhaka',
       'Sher-E-Bangla Road, Dhanmondi, Dhaka',
       'Manikdi, Cantonment, Dhaka',
       'South Manikdi, Manikdi, Cantonment, Dhaka', 'Badda, Dhaka',
       'Nurer Chala, Badda, Dhaka',
       'Mehidibag, 15 No. Bagmoniram Ward, Chattogram',
       'Matikata, Cantonment, Dhaka',
       'Block B, Sugandha Residential Area, Panchlaish, Chattogram',
       'Gandaria, Sutrapur, Dhaka', 'Middle Paikpara, Mirpur, Dhaka',
       'Block C, Aftab Nagar, Dhaka', 'Eskaton, Dhaka',
       'Rajabazar, Tejgaon, Dhaka', 'Polytechnic, Bayazid, Chattogram',
       '14 No. Lalkhan Bazaar Ward, Lal Khan Bazaar, Chattogram',
       'Road No 2, Sector 6, Uttara, Dhaka',
       'Nasirabad Housing Society, Muradpur, Chattogram',
       'Block H, Banasree, Dhaka', 'New Eskaton, Eskaton, Dhaka',
       'Avenue 2, Mirpur DOHS, Mirpur, Dhaka',
       'Block A, Section 13, Mirpur, Dhaka', 'Lalbagh, Dhaka',
       'Block E, Section 1, Mirpur, Dhaka', 'Tejkunipara, Tejgaon, Dhaka',
       'Zafrabad, Hazaribag, Dhaka',
       'West Dhanmondi and Shangkar, Dhanmondi, Dhaka',
       'Sugandha Residential Area, Panchlaish, Chattogram',
       '1st Colony, Mirpur, Dhaka', 'Block E, Section 12, Mirpur, Dhaka',
       'aziz Moholla, Mohammadpur, Dhaka',
       'Block D, Section 12, Mirpur, Dhaka',
       'Block A, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'Jigatola, Hazaribag, Dhaka', 'Nayatola, Maghbazar, Dhaka',
       'Dakkhin Paikpara, Mirpur, Dhaka',
       'Block A, Nobodoy Housing Society, Mohammadpur, Dhaka',
       'North Pirerbag, Pirerbag, Mirpur, Dhaka',
       'North Ibrahimpur, Ibrahimpur, Dhaka',
       'Avenue 3, Block A, Section 11, Mirpur, Dhaka',
       'Block E, Kaderabad Housing Society, Bosila, Mohammadpur, Dhaka',
       'Block E, Chandrima Model Town, Mohammadpur, Dhaka',
       'Bot Tola, Khilkhet, Dhaka', 'Azimpur, Lalbagh, Dhaka',
       'Block A, Section 6, Mirpur, Dhaka', 'Monipur, Mirpur, Dhaka',
       'Baigertek, Cantonment, Dhaka', 'Gawair, Dakshin Khan, Dhaka',
       'Avenue 2, Block A, Section 11, Mirpur, Dhaka',
       '4 No Chandgaon Ward, Chattogram', 'Shyamoli, Dhaka',
       'Fakirhat, Bandar, 36 Goshail Danga Ward, Chattogram',
       'Kawlar, Dakshin Khan, Dhaka', 'Sector 14, Uttara, Dhaka',
       'Block B, Nobodoy Housing Society, Mohammadpur, Dhaka',
       'Block D, Mansurabad Housing Society, Adabor, Dhaka',
       'Shah Ali Bag, Section 1, Mirpur, Dhaka', 'Turag, Dhaka',
       'Rupnagar Main Road, Section 5, Mirpur, Dhaka',
       'Block E, South Banasree Project, Banasree, Dhaka',
       'Tolarbag, Section 1, Mirpur, Dhaka',
       'Block C, Chandrima Model Town, Mohammadpur, Dhaka',
       '25 No. Rampur Ward, Double Mooring, Chattogram',
       'Section 15, Mirpur, Dhaka',
       'Block C, Chad Uddan Housing, Mohammadpur, Dhaka',
       'Block B, Mansurabad Housing Society, Adabor, Dhaka',
       'Block F, aziz Moholla, Mohammadpur, Dhaka',
       'Panchlaish Residential Area, 16 No. Chawk Bazaar Ward, Chattogram',
       'Pallabi, Mirpur, Dhaka',
       'Aman Bazar, 1 No. South Pahartali Ward, Hathazari, Chattogram',
       '15 No. Bagmoniram Ward, Chattogram',
       'Block A, Aftab Nagar, Dhaka',
       'Dhaka Real Estate, Katashur, Mohammadpur, Dhaka',
       'Block A, Bochila City Developers Ltd, Bochila, Mohammadpur, Dhaka',
       'Proshanti R/A, 10 No. North Kattali Ward, Chattogram',
       'West Nimtala, Bandar, 36 Goshail Danga Ward, Chattogram',
       'Block C, Section 12, Mirpur, Dhaka', 'Section 7, Mirpur, Dhaka',
       'Road No 2, Block K, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'Bakalia, Chattogram', 'Sector 1, Uttara, Dhaka',
       'Dampara, 14 No. Lalkhan Bazaar Ward, Lal Khan Bazaar, Chattogram',
       'Muradpur, Chattogram', 'Kallyanpur, Mirpur, Dhaka',
       'Chaktai, 19 No. South Bakalia Ward, Bakalia, Chattogram',
       'Road No 3, Block K, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'South Agrabad, Double Mooring, Chattogram',
       'Ranavola Avenue, Sector 10, Uttara, Dhaka',
       'Block A, Rajuk Uttara Apartment Project, Sector 18, Uttara, Dhaka',
       'Block B, Niketan, Dhaka', 'Sector 2, Block F, Aftab Nagar, Dhaka',
       'Block F, Section 2, Mirpur, Dhaka',
       'Gulbag Residential Area, 24 No. North Agrabad Ward, Double Mooring, Chattogram',
       'Kawlar Moddho Para, Kawlar, Dakshin Khan, Dhaka',
       'Bhagalpur, Hazaribag, Dhaka', 'Agargaon, Dhaka',
       'Block E, Lalmatia, Dhaka', 'West Dhanmondi, Dhanmondi, Dhaka',
       'Avenue 5, Block C, Section 11, Mirpur, Dhaka',
       'Avenue 11, Mirpur DOHS, Mirpur, Dhaka',
       'Khaje Dewan, Lalbagh, Dhaka',
       'Bashundhara Residential Area, 25 No. Rampur Ward, Double Mooring, Chattogram',
       'West Agargaon, Agargaon, Dhaka',
       'Block B, Kaderabad Housing Society, Bosila, Mohammadpur, Dhaka',
       'Block E, Banasree, Dhaka', 'Taltola, Dhaka',
       'Bonolota Abashik Elaka, West Agargaon, Agargaon, Dhaka',
       'Nikunja 2, Nikunja, Dhaka',
       'Shyamoli Housing (2nd Project), Adabor, Dhaka',
       'Ahmed Nagar, Mirpur, Dhaka', 'Chattogram',
       'Lake View Society, South Pirerbag, Pirerbag, Mirpur, Dhaka',
       'Kathalbagan, Dhaka', 'East Badda, Badda, Dhaka',
       'Motijheel, Dhaka',
       'Shyamoli Housing, Shekhertek, Mohammadpur, Dhaka',
       'Goltek, Cantonment, Dhaka',
       'Block K, South Banasree Project, Banasree, Dhaka',
       'Abedin Colony, 22 No. Enayet Bazaar Ward, Chattogram',
       'Sabujbag, Halishahar, Chattogram',
       'Akbarshah Railway Colony, 9 No. North Pahartali Ward, Chattogram',
       'Middle Badda, Badda, Dhaka', '2nd Colony, Mirpur, Dhaka',
       'Road No 1, Block H, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'Lalmatia, Dhaka',
       'CDA Residential Area, South Agrabad, Double Mooring, Chattogram',
       'Dakshin Kattali, 11 No. South Kattali Ward, Chattogram',
       '11 No. South Kattali Ward, Chattogram',
       'Nandan Kanan, 22 No. Enayet Bazaar Ward, Chattogram',
       'West Kafrul, Taltola, Dhaka', 'Rayer Bazaar, Hazaribag, Dhaka',
       'Road No 5, Sector 10, Uttara, Dhaka',
       'East Rampur, 25 No. Rampur Ward, Double Mooring, Chattogram',
       'Nikunja 1, Nikunja, Dhaka', 'Katabon, New Market, Dhaka',
       'Block D, Banasree, Dhaka', 'Uttara, Dhaka',
       'Avenue 7, Mirpur DOHS, Mirpur, Dhaka',
       'Old Eskaton, Eskaton, Dhaka', 'Vashantek, Cantonment, Dhaka',
       'Block A, Section 2, Mirpur, Dhaka', 'Shegunbagicha, Dhaka',
       'Avenue 8, Mirpur DOHS, Mirpur, Dhaka',
       'East Monipur, Mirpur, Dhaka', 'East Nasirabad, Chattogram',
       'Block C, Nobodoy Housing Society, Mohammadpur, Dhaka',
       'Block A, Kaderabad Housing Society, Bosila, Mohammadpur, Dhaka',
       'Section 12, Mirpur, Dhaka', 'Jamal Khan, Chattogram',
       'Zafrabad, Dhaka', 'Dakshin Khan, Dhaka',
       'Road No 20, Block G, Bashundhara R-A, Dhaka', 'Kuril, Dhaka',
       'O R Nizam Road Residential Area, Nasirabad, 15 No. Bagmoniram Ward, Chattogram',
       'Avenue 5, Mirpur DOHS, Mirpur, Dhaka',
       'Chotopole, South Agrabad, Double Mooring, Chattogram',
       'Green View Residential Area, 11 No. South Kattali Ward, Chattogram',
       'Hillview Residential Area, 15 No. Bagmoniram Ward, Chattogram',
       'Sector 15, Uttara, Dhaka',
       'Block F, South Banasree Project, Banasree, Dhaka',
       'Block D, Lalmatia, Dhaka', 'Namapara, Khilkhet, Dhaka',
       '12 No. Sarai Para Ward, Double Mooring, Chattogram',
       'Middle Monipur, Mirpur, Dhaka',
       'Block A, Bochila Garden City, Bochila, Mohammadpur, Dhaka',
       'Shahi Residential Area, Badurtala, Sholokbahar, Chattogram',
       'Niketan, Dhaka',
       'Paharika R/A, Raufabad Residential Area, Bayazid, Chattogram',
       'Shahid Nagar, Bayazid, Chattogram',
       'Bissaw colony, Kaibalyadham Housing Society, 9 No. North Pahartali Ward, Chattogram',
       'Rampur, 12 No. Sarai Para Ward, Double Mooring, Chattogram',
       'Block B, Chandrima Model Town, Mohammadpur, Dhaka',
       'Middle Rampur, 25 No. Rampur Ward, Double Mooring, Chattogram',
       '23 No. North Pathantooly Ward, Double Mooring, Chattogram',
       '7 No. West Sholoshohor Ward, Chattogram',
       '9 No. North Pahartali Ward, Chattogram',
       'Road No 1, Jalalabad Housing Society, Chattogram',
       'Chawk Bazar, 16 No. Chawk Bazaar Ward, Chattogram',
       'Meradia, Khilgaon, Dhaka',
       'Sagorika, Dakshin Kattali, 11 No. South Kattali Ward, Chattogram',
       'Block E, Kolpolok R/A, 18 No. East Bakalia Ward, Bakalia, Chattogram',
       'West Khulshi R/A, 9 No. North Pahartali Ward, Chattogram',
       'Railway Colony, Chattogram', 'Dhaka',
       'Shantibag Residential Area, 24 No. North Agrabad Ward, Double Mooring, Chattogram',
       'Block K, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'Kunjachaya Residential Area, Bayazid, Chattogram',
       'Block B, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'Block A, Arakan Housing Society, Badurtala, Sholokbahar, Chattogram',
       'Badurtala, Sholokbahar, Chattogram',
       'TIC Colony, Faydabad, Dakshin Khan, Dhaka',
       'South Azampur, Dakshin Khan, Dhaka',
       'South Pirerbag, Pirerbag, Section 1, Mirpur, Dhaka',
       'Block D, Dakkhin Paikpara, Paikpara, Mirpur, Dhaka',
       'East Azampur, Dakshin Khan, Dhaka',
       'Jalalabad Housing Society, Chattogram',
       'Double Mooring, Chattogram',
       '16 No. Chawk Bazaar Ward, Chattogram',
       'Block B, Dolipara, Uttara, Dhaka',
       'West Bepari Para, South Agrabad, Double Mooring, Chattogram',
       '24 No. North Agrabad Ward, Double Mooring, Chattogram',
       'Steel Mill, 40 No. North Patenga Ward, Patenga, Chattogram',
       'Agrabad Golden Complex, 25 No. Rampur Ward, Double Mooring, Chattogram',
       'Agrabad Housing Residential Area, 24 No. North Agrabad Ward, Double Mooring, Chattogram',
       'CEPZ, Bandartila, 39 No. South Halishahar Ward, Halishahar, Chattogram',
       'Road No 2, Block L, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'Bandartila, 39 No. South Halishahar Ward, Halishahar, Chattogram',
       '6 No East Sholoshohor Ward, Bakalia, Chattogram',
       'Ashkona, Dakshin Khan, Dhaka', 'Uttar Khan, Dhaka',
       'Solmaid, Badda, Dhaka',
       'Saraipara, 12 No. Sarai Para Ward, Double Mooring, Chattogram',
       'Tejturi Bazar, Tejgaon, Dhaka', 'East Bashabo, Bashabo, Dhaka',
       'Block B, Kolpolok R/A, 18 No. East Bakalia Ward, Bakalia, Chattogram',
       '39 No. South Halishahar Ward, Halishahar, Chattogram',
       'Halishahar, Chattogram',
       'Karnaphuly Abashik Elaka, 25 No. Rampur Ward, Double Mooring, Chattogram',
       'Road No 1, Block B, Kolpolok R/A, 18 No. East Bakalia Ward, Bakalia, Chattogram',
       '4 No. South Nalapara, 30 No. East Madarbari Ward, Chattogram',
       '30 No. East Madarbari Ward, Chattogram', 'Shahjahanpur, Dhaka',
       'Road No 1, Block L, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'South Mollartek, Dakshin Khan, Dhaka',
       'Uttar Badda, Badda, Dhaka',
       'Block B, Hill View R/A, Bayazid, Chattogram',
       'Green Valley, Bayazid, Chattogram',
       'School Road, Mohakhali, Dhaka',
       '29 No. West Madarbari Ward, Chattogram',
       'Shyamol Chhaya Residential Area, Chadra Nagar, Bayazid, Chattogram',
       'Pahartali, 11 No. South Kattali Ward, Chattogram',
       'Senpara Parbata, Section 10, Mirpur, Dhaka',
       'Ali Nagar, Bayazid, Chattogram',
       'Majhirghat Road, 30 No. East Madarbari Ward, Chattogram',
       'Munshi Para, Munir Nagar, 37 No. North-Middle Halishahar Ward, Halishahar, Chattogram',
       'Block A, Hill View R/A, Bayazid, Chattogram',
       'Eidgah, East Rampur, 25 No. Rampur Ward, Double Mooring, Chattogram',
       '33 No. Firingee Bazaar Ward, Chattogram',
       'Block G, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'B-Block Chandgaon R/A, Chandgaon Residential Area, 4 No Chandgaon Ward, Chattogram',
       'Road No 1, Block D, Kolpolok R/A, 18 No. East Bakalia Ward, Bakalia, Chattogram',
       'Block L, Bashundhara R-A, Dhaka',
       '32 No. Andarkilla Ward, Chattogram', 'Farmgate, Tejgaon, Dhaka',
       'Bangla Bazar, Bayazid, Chattogram', 'Tikatuli, Sutrapur, Dhaka',
       'Uttar Nath Para, Pahartali, 11 No. South Kattali Ward, Chattogram',
       'Dewan Bazar, Bakalia, Chattogram',
       'Block D, Kolpolok R/A, 18 No. East Bakalia Ward, Bakalia, Chattogram',
       'East Mollartek, Dakshin Khan, Dhaka',
       'Kadamtali, 23 No. North Pathantooly Ward, Double Mooring, Chattogram',
       'Padma Residential Area, 24 No. North Agrabad Ward, Double Mooring, Chattogram',
       'Muhuri Para, 24 No. North Agrabad Ward, Double Mooring, Chattogram',
       'Sonali Residential Area, 25 No. Rampur Ward, Double Mooring, Chattogram',
       '27 No. South Agrabad Ward, Double Mooring, Chattogram',
       'Gosaildanga, 36 Goshail Danga Ward, Chattogram',
       'Ullan, Rampura, Dhaka', 'Paikpara, Mirpur, Dhaka',
       'A-Block Chandgaon R/A, Chandgaon Residential Area, 4 No Chandgaon Ward, Chattogram',
       'Road No 1, Block B, Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'Naya Bazar, 25 No. Rampur Ward, Double Mooring, Chattogram',
       'Block A, Somobay Residential Area, Bayazid, Chattogram',
       'West Mollartek, Dakshin Khan, Dhaka',
       'Block B, Dakkhin Paikpara, Paikpara, Mirpur, Dhaka',
       'Aainusbag, Dakshin Khan, Dhaka', 'Joar Sahara, Dhaka',
       'Uttar Kattali, Chattogram',
       'Jangalpara, 7 No. West Sholoshohor Ward, Chattogram',
       'Halishahar Housing Estate, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'Haji Islam Mia Brick Field Road, Chotopole, South Agrabad, Double Mooring, Chattogram',
       'Taltola, Bandartila, 38 No. South Middle Halishahar, Halishahar, Chattogram',
       'Halishahar Cantonment, 26 No. North Halishahar Ward, Halishahar, Chattogram',
       'Kalachandpur, Dhaka', 'Pirerbag, Section 1, Mirpur, Dhaka',
       'Chandrima, Chandgaon Residential Area, 4 No Chandgaon Ward, Chattogram',
       'Bayazid Nagar Residential Area, Bayazid, Chattogram',
       'East Rampura, Rampura, Dhaka',
       'Ashkar Dighir Par, Jamal Khan, Chattogram',
       'Nayarhat, 3 No. Panchlaish Ward, Bayazid, Chattogram',
       'Tejgaon, Dhaka', 'Block F, Banasree, Dhaka',

In [127]:
# Checking that data in each column are all uniform in their presentation (Price - Not uniform - Need to convert Lakh to Thousands)
df2["price"].unique()

array(['50 Thousand', '30 Thousand', '35 Thousand', '25 Thousand',
       '1.1 Lakh', '23 Thousand', '40 Thousand', '20 Thousand',
       '2.5 Lakh', '1.2 Lakh', '21 Thousand', '60 Thousand',
       '28 Thousand', '75 Thousand', '55 Thousand', '12 Thousand',
       '2 Lakh', '10 Thousand', '18 Thousand', '1.5 Lakh', '85 Thousand',
       '70 Thousand', '43 Thousand', '1 Lakh', '80 Thousand',
       '45 Thousand', '26 Thousand', '16 Thousand', '14.5 Thousand',
       '14 Thousand', '15 Thousand', '90 Thousand', '4 Lakh', '3.5 Lakh',
       '27 Thousand', '22 Thousand', '15.5 Thousand', '95 Thousand',
       '42 Thousand', '13 Thousand', '11.5 Thousand', '7.3 Thousand',
       '1.7 Lakh', '36 Thousand', '32 Thousand', '17 Thousand',
       '13.5 Thousand', '34 Thousand', '1.8 Lakh', '65 Thousand',
       '1.65 Lakh', '19 Thousand', '18.6 Thousand', '1.3 Lakh',
       '4.2 Lakh', '47 Thousand', '72 Thousand', '1.6 Lakh', '2.8 Lakh',
       '1.4 Lakh', '9 Thousand', '1.25 Lakh', '3 Lakh', '37 Thousand',
       '16.5 Thousand', '9.5 Thousand', '33 Thousand', '4.5 Lakh',
       '63 Thousand', '10 Lakh', '11 Thousand', '19.05 Thousand',
       '12.5 Thousand', '38 Thousand', '17.5 Thousand', '1.35 Lakh',
       '1.9 Lakh', '24 Thousand', '35.5 Thousand', '6 Thousand',
       '18.5 Thousand', '5 Lakh', '7 Lakh', '39 Thousand', '8 Thousand',
       '5.5 Thousand', '71 Thousand', '31 Thousand', '12.8 Thousand',
       '52 Thousand', '1.15 Lakh', '2.2 Lakh', '46 Thousand', '2.9 Lakh',
       '58 Thousand', '2.15 Lakh', '88 Thousand', '11.3 Thousand',
       '57 Thousand', '2.3 Lakh', '1.85 Lakh', '2.6 Lakh', '3.2 Lakh',
       '3.3 Lakh', '6 Lakh', '10.5 Thousand', '29.5 Thousand',
       '8.5 Thousand', '17.24 Thousand', '3.4 Lakh', '29 Thousand',
       '3.6 Lakh', '20.2 Thousand', '20.5 Thousand', '44 Thousand',
       '13.2 Thousand', '25.5 Thousand', '26.5 Thousand', '10.2 Thousand',
       '11.01 Thousand', '6.5 Thousand', '28.5 Thousand', '21.5 Thousand',
       '10.7 Thousand', '9.5 Lakh', '32.5 Thousand', '18.8 Thousand',
       '18.3 Thousand', '33.2 Thousand', '8.2 Thousand', '7 Thousand',
       '6.2 Thousand', '22.5 Thousand', '7.5 Thousand', '16.6 Lakh',
       '11.8 Thousand', '11.7 Thousand', '23.5 Thousand', '2.4 Lakh',
       '19.3 Thousand', '18.4 Thousand', '10.6 Thousand', '16.3 Thousand',
       '20 Lakh', '68 Thousand', '59 Thousand', '9.24 Lakh', '1.37 Lakh',
       '78 Thousand', '3.25 Lakh', '5.5 Lakh', '1.05 Lakh', '6.5 Lakh',
       '8 Lakh', '1.45 Lakh', '7.5 Lakh', '1.75 Lakh'], dtype=object)

###### Changing presentation of unique values

In [128]:
df3 = df2.copy()

In [129]:
# Changing beds to uniform presentation
df3["beds"] = df2["beds"].apply(lambda x: int(x.split(" ")[0]))
df3["beds"].unique()

array([ 3,  5,  4,  1,  2, 17,  6, 21,  7, 20, 32, 22, 36], dtype=int64)

In [130]:
# Changing bath to uniform presentation
df3["bath"] = df2["bath"].apply(lambda x: int(x.split(" ")[0]))
df3["bath"].unique()

array([ 4,  3,  5,  2,  1,  6, 10,  8,  7], dtype=int64)

In [131]:
# Changing price to uniform presentation (1 Lakh equals 100,000 Taka)
def lakhToTaka(x):
    if "Lakh" in x:
        return float(x.split(" ")[0])*100
    else:
        return float(x.split(" ")[0])

df3["price"] = df2["price"].astype("str")
df3["price"] = df3["price"].apply(lakhToTaka)
df3["price"].unique()

array([  50.  ,   30.  ,   35.  ,   25.  ,  110.  ,   23.  ,   40.  ,
         20.  ,  250.  ,  120.  ,   21.  ,   60.  ,   28.  ,   75.  ,
         55.  ,   12.  ,  200.  ,   10.  ,   18.  ,  150.  ,   85.  ,
         70.  ,   43.  ,  100.  ,   80.  ,   45.  ,   26.  ,   16.  ,
         14.5 ,   14.  ,   15.  ,   90.  ,  400.  ,  350.  ,   27.  ,
         22.  ,   15.5 ,   95.  ,   42.  ,   13.  ,   11.5 ,    7.3 ,
        170.  ,   36.  ,   32.  ,   17.  ,   13.5 ,   34.  ,  180.  ,
         65.  ,  165.  ,   19.  ,   18.6 ,  130.  ,  420.  ,   47.  ,
         72.  ,  160.  ,  280.  ,  140.  ,    9.  ,  125.  ,  300.  ,
         37.  ,   16.5 ,    9.5 ,   33.  ,  450.  ,   63.  , 1000.  ,
         11.  ,   19.05,   12.5 ,   38.  ,   17.5 ,  135.  ,  190.  ,
         24.  ,   35.5 ,    6.  ,   18.5 ,  500.  ,  700.  ,   39.  ,
          8.  ,    5.5 ,   71.  ,   31.  ,   12.8 ,   52.  ,  115.  ,
        220.  ,   46.  ,  290.  ,   58.  ,  215.  ,   88.  ,   11.3 ,
         57.  ,  230.  ,  185.  ,  260.  ,  320.  ,  330.  ,  600.  ,
         10.5 ,   29.5 ,    8.5 ,   17.24,  340.  ,   29.  ,  360.  ,
         20.2 ,   20.5 ,   44.  ,   13.2 ,   25.5 ,   26.5 ,   10.2 ,
         11.01,    6.5 ,   28.5 ,   21.5 ,   10.7 ,  950.  ,   32.5 ,
         18.8 ,   18.3 ,   33.2 ,    8.2 ,    7.  ,    6.2 ,   22.5 ,
          7.5 , 1660.  ,   11.8 ,   11.7 ,   23.5 ,  240.  ,   19.3 ,
         18.4 ,   10.6 ,   16.3 , 2000.  ,   68.  ,   59.  ,  924.  ,
        137.  ,   78.  ,  325.  ,  550.  ,  105.  ,  650.  ,  800.  ,
        145.  ,  750.  ,  175.  ])

##### Changing column headings to fix spelling errors and to be more informative

In [166]:
df4 = df3.copy()

In [167]:
df4["baths"] = df4["bath"]
df4["area (sq feet)"] = df4["area"]
df4["price (thousand taka)"] = df4["price"]
df4["address"] = df4["adress"]
df4 = df4.drop(["bath", "area", "adress", "price"], axis="columns")
df4.head()

,beds,baths,area (sq feet),price (thousand taka),address
0,3,4,2200,50.0,"Block A, Bashundhara R-A, Dhaka"
1,3,4,1400,30.0,"South Khulshi, Khulshi, Chattogram"
2,3,4,1950,30.0,"Block F, Bashundhara R-A, Dhaka"
3,3,3,2000,35.0,"Sector 9, Uttara, Dhaka"
4,3,4,1650,25.0,"Block I, Bashundhara R-A, Dhaka"

##### Finding anomalous price values

In [168]:
df5 = df4.copy()
mean = df5["price (thousand taka)"].mean()
std = df5["price (thousand taka)"].std()
Q1 = df5["price (thousand taka)"].quantile(0.25)
Q3 = df5["price (thousand taka)"].quantile(0.75)
IQR = Q3 - Q1
df5.shape

(7557, 5)

###### Eliminating Anomalies using IQR

In [169]:
# Finding the values at which point data becomes anomalous (1.5 * IQR below or above Q1 and Q3 respectively)
low_anoms = Q1 - (IQR * 1.5)
high_anoms = Q3 + (IQR * 1.5)

In [170]:
# Eliminating anomalies
df5 = df5[(df5["price (thousand taka)"] > low_anoms) & (df5["price (thousand taka)"] < high_anoms)]
df5.shape

(6714, 5)

###### Eliminating Anomalies using Standard Deviation

In [171]:
# Finding the values at which point data becomes anomalous (3 Standard Deviations away from the mean)
low_anoms = mean - (std * 3)
high_anoms = mean + (std * 3)

In [172]:
# Eliminating anomalies
df5 = df5[(df5["price (thousand taka)"] > low_anoms) & (df5["price (thousand taka)"] < high_anoms)]
df5.shape

(6714, 5)

###### Eliminating Anomalies using Z Score

In [173]:
# Creating a column where z scores are calculated
df5["zscore"] = (df5["price (thousand taka)"] - mean) / std
df5.head()

,beds,baths,area (sq feet),price (thousand taka),address,zscore
0,3,4,2200,50.0,"Block A, Bashundhara R-A, Dhaka",0.246030
1,3,4,1400,30.0,"South Khulshi, Khulshi, Chattogram",-0.063034
2,3,4,1950,30.0,"Block F, Bashundhara R-A, Dhaka",-0.063034
3,3,3,2000,35.0,"Sector 9, Uttara, Dhaka",0.014232
4,3,4,1650,25.0,"Block I, Bashundhara R-A, Dhaka",-0.140300

In [174]:
# Eliminating anomalies (Values with a z score above 3 and below -3), then dropping the z score column
df5 = df5[(df5["zscore"] > -3) & (df5["zscore"] < 3)]
df5 = df5.drop(["zscore"], axis="columns")
df5.shape

(6714, 5)

### Feature Engineering

In [179]:
df6 = df5.copy()
df6.head()

,beds,baths,area (sq feet),price (thousand taka),address
0,3,4,2200,50.0,"Block A, Bashundhara R-A, Dhaka"
1,3,4,1400,30.0,"South Khulshi, Khulshi, Chattogram"
2,3,4,1950,30.0,"Block F, Bashundhara R-A, Dhaka"
3,3,3,2000,35.0,"Sector 9, Uttara, Dhaka"
4,3,4,1650,25.0,"Block I, Bashundhara R-A, Dhaka"

#### Adding Price per Square Feet

In [180]:
# Adding a column where price per square feet is calculated
df6["price (taka) per sq feet"] = (df6["price (thousand taka)"] / df6["area (sq feet)"])*1000
df6.head()

,beds,baths,area (sq feet),price (thousand taka),address,price (taka) per sq feet
0,3,4,2200,50.0,"Block A, Bashundhara R-A, Dhaka",22.727273
1,3,4,1400,30.0,"South Khulshi, Khulshi, Chattogram",21.428571
2,3,4,1950,30.0,"Block F, Bashundhara R-A, Dhaka",15.384615
3,3,3,2000,35.0,"Sector 9, Uttara, Dhaka",17.500000
4,3,4,1650,25.0,"Block I, Bashundhara R-A, Dhaka",15.151515